<div class="sensorBox">
  <div class="title">Time to measure the insulation of your room</div>
  <div class="imgWrap">
    <div class="imgCutout">
      <img src="assets/sensor.jpg" alt="" />
    </div>
  </div>

  <div class="sensorInteraction">
    <div class="sensorValueWrap">
      <div class="sensorValue">
        <div class="sensorValueV">{{ temperature | number: "1.1" }}</div>
        <div class="sensorValueD">°C</div>
      </div>
      <div class="sensorValue">
        <div class="sensorValueV">{{ humidity | number: "1.1" }}</div>
        <div class="sensorValueD">%RH</div>
      </div>
    </div>
    <button id="sensorButton" (click)="handleSensorConnect($event)">
      Click to connect to sensor
    </button>
  </div>
</div>
