<body>
  <div class="sensorBox">
    <h1 class="title">Room insulation</h1>
    <h2 class="subtitle">
      Please place the sensor in the room, and turn off the heating
    </h2>
    <div style="opacity: 0.5; text-align: center; color: rgb(252, 252, 252); margin-bottom: 2rem;">
      EnergyManager calculates your house's insulation based on the resulting
      cool-off curve.
    </div>

    <div class="imgWrap">
      <div class="imgCutout">
        <img src="assets/sensor.jpg" alt="" />
      </div>
    </div>

    <div class="sensorInteraction" *ngIf="showSensor">
      <div class="sensorValueWrap">
        <div class="sensorValue">
          <div class="sensorValueV">{{ temperature | number: "1.1" }}</div>
          <div class="sensorValueD">°C</div>
        </div>
        <div class="sensorValue">
          <div class="sensorValueV">{{ humidity | number: "1.1" }}</div>
          <div class="sensorValueD">%RH</div>
        </div>
      </div>
      <button id="sensorButton" (click)="handleSensorConnect($event)">
        Click to connect to sensor
      </button>
    </div>

    <div class="sensorInteraction" *ngIf="!showSensor">
      <div style="margin-bottom: 12px; text-align: center">
        Data collection complete!
      </div>
      <button id="sensorButton" (click)="handleGoNext()">
        Click to continue
      </button>
    </div>
  </div>

  <div
    style="padding-bottom: 6px"
    [ngStyle]="{ display: hasData ? 'block' : 'none' }"
  >
    <div class="canvasWrap">
      <canvas #canvas id="canvas" style="height: 240px; width: 100%"></canvas>
    </div>
  </div>
</body>
