<body>
<h1 style="color: white; text-align: center; margin-top: 60px;">Welcome to your personal EnergyManager</h1>
<div>
  <h2 style="color: white; text-align: center">Kindly take a picture of the floor-plan</h2>

  <div class="webcam-image" *ngIf="webcamImage">
    <img style="height: 260px; margin-left: 24px" [src]="webcamImage.imageAsDataUrl"/>
  </div>
  <div *ngIf="isCameraExist; else noCameraExist" style="padding-top: 20px">
    <div style="text-align:center">
      <webcam
        [height]="260"
        [trigger]="triggerObservable"
        (imageCapture)="handleImage($event)"
        *ngIf="showWebcam"
        [switchCamera]="nextWebcamObservable"
      ></webcam>
      <br>
      <div class="btn-group">
        <button class="button" (click)="changeWebCame(true)">
          Toggle Camera
        </button>
        <button class="button" (click)="takeSnapshot()">Take Picture</button>
      </div>
    </div>

    <div *ngIf="errors.length > 0">
      <h4>Error Messages:</h4>
      <ul *ngFor="let error of errors">
        <li>{{ error | json }}</li>
      </ul>
    </div>
  </div>

  <ng-template #noCameraExist> Camera device not available</ng-template>
</div>
</body>
