<!-- Taken from https://edupala.com/how-capture-image-using-angular-camera/ -->
<div *ngIf="isCameraExist; else noCameraExist" style="padding-top: 100px">
  <div style="text-align:center">
    <h2 style="color: white">Kindly take a picture of the floor-plan</h2>
    <div class="btn-group">
      <button class="button" (click)="takeSnapshot()">Take Picture</button>
      <button class="button" (click)="changeWebCame(true)">
        Toggle Camera
      </button>
    </div>
    <br/>
    <webcam
      [height]="260"
      [trigger]="triggerObservable"
      (imageCapture)="handleImage($event)"
      *ngIf="showWebcam"
      [switchCamera]="nextWebcamObservable"
    ></webcam>
  </div>

  <div *ngIf="errors.length > 0">
    <h4>Error Messages:</h4>
    <ul *ngFor="let error of errors">
      <li>{{ error | json }}</li>
    </ul>
  </div>
</div>

<ng-template #noCameraExist> Camera device not available</ng-template>
