.wrap {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem 0;
  text-align: center;
  line-height: 2rem;
}

.canvasWrap {
  margin: 12px;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
}

.slidecontainer {
  align-self: center;
  width: calc(100% - 24px); /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
