<div class="full-width-table">
  <mat-form-field appearance="fill">
    <mat-label>Stromverbrauch (in kWh)</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Heizkosten (in CHF)</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Heizmethode</mat-label>
    <mat-select>
      <mat-option value="one">Gas</mat-option>
      <mat-option value="two">Öl</mat-option>
      <mat-option value="two">Wärmepumpe</mat-option>
      <mat-option value="two">Pellets</mat-option>
    </mat-select>
  </mat-form-field>
</div>
